body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .25);
    box-sizing: border-box;
}

.half-width {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.nav-element {
    margin: 0 15px;
}

.flex-end {
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #eaeaea;
}

.card {
    height: 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    display: flex;
    padding: 5px;
    background-color: #FFF;
    margin: 15px 0;
}

.card-content {
    box-sizing: border-box;
    width: 80%;
    align-items: center;
    display: flex;
}

.card-controls {
    box-sizing: border-box;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.id {
    width: 10%;
}

.username {
    width: 50%;
}

.status {
    width: 40%;
}

.status-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    margin-left: 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
